@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: #E5E5E5;
    font-family: "Open Sans";
}

.header {
    display: flex;
    padding: 20px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__img {
    margin-right: 53px;
}

.header__search {
    width: 581px;
    padding: 12px 16px;
    border: none;
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.2);
}

.main {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.main__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* black */
    color: #333333;
}

.main__table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-left: 20px;

}

.main__row {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.main__hcol:nth-child(1) {
    margin-right: 10px;
    grid-column: 1 / span 1;
    text-align: center;
}

.main__hcol:nth-child(2) {
    grid-column: 3 / span 5;
}

.main__hcol:nth-child(3) {
    grid-column: 8 / span 3;

}

.main__hcol:nth-child(4) {
    grid-column: 11 / span 3;

}

.main__hcol:nth-child(5) {
    grid-column: 14 / span 3;

}

.main__hcol:nth-child(6) {
    grid-column: 17 / span 2;
    /* width: 200px; */
    text-align: start;
}

.main__hcol {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
}

.main__load {
    min-height: 300px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
    background-image: url(../img/load.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main__btn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 26px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #9873FF;
    color: #9873FF;
}

.main__btn span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.div {
    display: block;
}
.contact {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    /* justify-content: space-around; */
    /* flex-direction: row; */
    padding: 20px;
}
.d-flex {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.id {
    grid-column: 1 / span 1;
    grid-row: 1;
}
.fio {
    grid-column: 3 / span 5;
    grid-row: 1;
}
.createDiv {
    grid-column: 8 / span 3;
    grid-row: 1;
}
.editDiv {
    grid-column: 11 / span 3;
    grid-row: 1;
}
.timeCreate, .timeEdit {
    color: rgba(176, 176, 176, 1);
}
.actions {
    grid-column: 17 / span 3;
    display: flex;
    flex-wrap: nowrap;
    gap: 40%;
}
.edit {
    /* grid-column: 17 / span 1; */
    position: relative;
    /* margin-right: 46px; */
    cursor: pointer;
}
.edit:before {
    content: "";
    background-image: url("../img/edit.svg");
    position: absolute;
    left: -16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
}
.delete {
    position: relative;
    cursor: pointer;
    /* grid-column: 19 / span 1; */
    grid-row: 1;
}
.delete:before {
    content: "";
    background-image: url("../img/delet.svg");
    position: absolute;
    left: -16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;

}


.back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}
.window {
    position: absolute;
    z-index: 3;
    left: 33%;
    top: 20vh;
    width: 30%;
    background-color: white;
}
.text-center {
    text-align: center;
}
.x {
    position: absolute;
    right: 3%;
    top: 4%;
    background-image: url("../img/x.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.window__head {
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.window__form > input {
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 7%;
    outline: none;
}

.window__form {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.add_contact {
    display: flex;
    background-color: rgba(200, 197, 209, 0.3);
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 3%;
}

.add_btn {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.btn_create {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33%;
    margin: auto;
    background-color: rgb(152, 115, 255);
    border: none;
    color: white;
    padding: 10px 20px ;
}

.btn_cancel {
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.data {
    width: 86%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: 30px;
}

.data > * {
    border-radius: 0;
    border: 1px solid grey;
    outline: none;
}

.data > input {
    width: 100%;
}

.del_div {
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 197, 209, 0.6);
    cursor: pointer;
}

.tel {
    background-image: url(../img/phone.svg);
}

.vk {
    background-image: url(../img/vk.svg);

}

.email {
    background-image: url(../img/mail.svg);
}

.twitter {
    background-image: url(../img/twitter.svg);
}

.facebook {
    background-image: url(../img/fb.svg);
}

.contacts {
    grid-column: 14 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    max-width: 108px;
    flex-wrap: nowrap;
}

.contacts_true {
    flex-wrap: wrap;
}

.contact_icon, .contact_icons_more {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

.contact_icons_more {
    box-sizing: border-box;
    border: 1px solid #9873FF;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_info {
    position: absolute;
    bottom: 25px;
    font-size: 12px;
    text-wrap: nowrap;
    white-space: nowrap;
    left: -500%;
    background-color: black;
    color: white;
    padding: 7px 15px;
}

.error {
    color: #F06A4D;
    font-size: 10px;
    text-align: center;
}

.p_id {
    position: absolute;
    color: gray;
    top: 30px;
    left: 5%;
}

th {
    cursor: pointer;
    user-select: none;

}